body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
}

#settings {
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#settings h2 {
    margin-top: 0;
}

#settings-form {
    display: flex;
    flex-direction: column;
}

#settings-form label {
    margin-top: 0.5rem;
}

#settings-form input, #settings-form button {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
}

#settings-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#settings-form button:hover {
    background: #333;
}

.hidden {
    display: none;
}

#settings-success-message {
    color: #333;
    margin-top: 1rem;
}